# RabbitMQ Configuration
RABBITMQ_HOST=host.docker.internal
RABBITMQ_PORT=9001
RABBITMQ_USERNAME=admin
RABBITMQ_PASSWORD=admin
RABBITMQ_URL=amqp://admin:admin@host.docker.internal:9001

# Database Configuration (optional - defaults are used if not set)
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=kitchen_user
DB_PASSWORD=kitchen_pass
DB_NAME=kitchen_db

# Backend Configuration
NODE_ENV=development
BACKEND_PORT=3000

# Frontend Configuration
FRONTEND_PORT=3001